{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Equipamentos para TI</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <header class="text-center mb-4">
            <h1>Solicitação de Equipamentos para TI</h1>
        </header>
        <main>
            <p>Olá, {{ nome }}. Quando você enviar este formulário, o proprietário verá seu nome e endereço de email.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inicio">Inicio do Colaborador <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" name="Inicio do Colaborador" id="inicio" required>
                </div>

                <div class="form-group">
                    <label for="nome">Nome <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="nome" id="nome" placeholder="Insira sua resposta" required>
                </div>

                <div class="form-group">
                    <label for="sobrenome">Sobrenome <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="sobrenome" id="sobrenome" placeholder="Insira sua resposta" required>
                </div>

                <div class="form-group">
                    <label for="endereço">Endereço para qual o dispositivo deve ser entregue <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="endereço" id="endereço" placeholder="Insira sua resposta" required>
                </div>

                <div class="form-group">
                    <label for="email">Usuário para Email Corporativo <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Insira sua resposta" required>
                </div>

                <div class="form-group">
                    <label for="gestor">Gestor Direto <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="gestor" id="gestor" placeholder="Insira sua resposta" required>
                </div>

                <div class="form-group">
                    <label>Grupo de Email <span class="text-danger">*</span></label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="todos" value="todos" required>
                        <label class="form-check-label" for="todos">Todos</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="prestadores" value="prestadores">
                        <label class="form-check-label" for="prestadores">Pestadores</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="clt" value="clt">
                        <label class="form-check-label" for="clt">CLT</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="estagiario" value="estagiario">
                        <label class="form-check-label" for="estagiario">Estagiario</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="treinamentos" value="treinamentos">
                        <label class="form-check-label" for="treinamentos">Treinamentos</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="gente_e_gestao" value="gente_e_gestao">
                        <label class="form-check-label" for="gente_e_gestao">Gente & Gestão</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="oportunidades" value="oportunidades">
                        <label class="form-check-label" for="oportunidades">Oportunidades</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="contato" value="contato">
                        <label class="form-check-label" for="contato">Contato</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="grupo_email" id="admgente" value="admgente">
                        <label class="form-check-label" for="admgente">Admgente</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cargo">Cargo <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="cargo" id="cargo" placeholder="Insira sua resposta" required>
                </div>

                <div class="form-group">
                    <label for="departamento">Departamento <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="departamento" id="departamento" placeholder="Insira sua resposta" required>
                </div>

                <div class="form-group">
                    <label>Cliente <span class="text-danger">*</span></label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="cliente" id="cliente_todos" value="todos" required>
                        <label class="form-check-label" for="cliente_todos">Todos</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="cliente" id="cliente_outros" value="outros">
                        <label class="form-check-label" for="cliente_outros">Outros</label>
                    </div>
                    <input type="text" class="form-control mt-2 d-none" name="outro_cliente" id="outro_cliente" placeholder="Insira sua resposta">
                </div>

                <div class="form-group">
                    <label>Dispositivo Solicitado <span class="text-danger">*</span></label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="dispositivo_solicitado" id="ativo_notebook" value="notebook" required>
                        <label class="form-check-label" for="ativo_notebook">Notebook + Carregador</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="dispositivo_solicitado" id="ativo_celular" value="celular">
                        <label class="form-check-label" for="ativo_celular">Telefone Celular</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="código_ativo">Código do Ativo <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="código_ativo" id="código_ativo" placeholder="Insira sua resposta" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Enviar Solicitação</button>
            </form>
        </main>
    </div>
    <script src="{% static 'solicitacoes/js/script.js' %}"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>