{% load static %}
<html>
</head>
<body>
    <form id="solicitacaoForm">
        <label id="solicitante">Solicitante:</label>

        <label id="inicio_colaborador">Início do Colaborador</label>

        <label id="nome">Nome</label>

        <label id="endereco">Endereço</label>

        <label id="criacao_email">Criação de Email</label>

        <label id="gestor_direto">Gestor Direto</label>

        <label id="cargo">Cargo</label>

        <label id="departamento">Departamento</label>

        <label id="cliente">Cliente</label>

        <label id="dispositivo">Dispositivo</label>

        <label id="codigo_ativo">Código do Ativo</label>

    </form>
    <script src="{% static 'js/envio_email.js' %}"></script>
</body>
</html>